
<section class="chat-app row-fluid">

    <nav class="span3 side-nav">
        <h1 class="hero-title">Welcome to Bloc Chat!</h1>

        <section ng-repeat="room in rooms" class="room-list">
            <ul><a ng-click="activeRoomSet(room)">{{room.$value}}</a></ul>
        </section>
        <button class="orange-button" ng-click="open()">Add A New Room</button>
    </nav>

    <section class="span9 chat-container">
        <h2>{{activeRoom.$value}}</h2>
        <div class="messages" ng-repeat="message in messages">
            <div class="clearfix">
                <div class="span12">
                    <div class="username">{{message.username}}<span class="message-time">{{message.sentAt}}</span></div>
                    <div class="message-text">{{message.content}}</div>
                </div>
            </div>    
        </div>
    </section>
</section>
