
<section class="chat-app row-fluid">

    <nav class="span3 side-nav">
        <h1 class="hero-title">Let's Chat, Yo!</h1>

        <section ng-repeat="room in rooms" class="room-list">
            <ul><a ng-click="activeRoomSet(room)">{{room.$value}}</a></ul>
        </section>
        <button class="orange-button" ng-click="open()">Add A New Room</button>
    </nav>

    <section class="span9 chat-container">
        <h2>{{activeRoom.$value}}</h2>
        <p>placeholder</p>
    </section>
</section>
